{% extends "_base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

	<div class="container-md">

		<div class="card mb-3">
			<h5 class="card-header"> Dato YYYY-mm-dd </h5>

			<div class="card-body">
				<h5 class="card-title">Rolig jogg</h5>
				<p class="card-text">30min rolig i zone 2 </p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>

		<div class="card">
			<h5 class="card-header"> Dato YYYY-mm-dd </h5>

			<div class="card-body">
				<h5 class="card-title">Intervaller</h5>
				<p class="card-text">5x800m i 7min/km</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>

	</div>

{% endblock content %}

