{% extends "_base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

	<div class="container-md">

		<form method="post" action="/session/new" class="m-3">

			<div class="form-group row">
				<label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
				<div class="col-sm-10">
					<input name="title" type="text" class="form-control" id="inputTitle" placeholder="Title">
				</div>
			</div>

			<div class="form-group row">
				<label for="inputDate" class="col-sm-2 col-form-label">Date</label>
				<div class="col-sm-10">
					<input name="date" type="date" class="form-control" id="inputDate">
				</div>
			</div>

			<div class="form-group row">
				<label for="inputDetail" class="col-sm-2 col-form-label">Details</label>
				<div class="col-sm-10">
					<input name="details" type="text" class="form-control" id="inputDetail">
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>

		</form>

		{% for session in context["sessions"] %}

			<div class="card mb-3">
				<h5 class="card-header">{{ session.3 }} </h5>

				<div class="card-body">
					<h5 class="card-title"> {{ session.1 }} </h5>
					<p class="card-text"> {{ session.2 }} </p>
					<!--<a href="#" class="btn btn-primary">Edit</a>-->

					<a href="/session/delete/{{session.0 }}" class="btn btn-danger">Delete</a>
				</div>
			</div>

		{% endfor %}

	</div>

{% endblock content %}

